@import './utilities.css';

html {
  height: 100%;
  word-wrap: break-word;
  color: var(--black);
}

body {
  height: 100%;
  margin: 0;
  font-family: Ubuntu, system-ui;
}

input {
  font-size: inherit;
  font-family: inherit;
}

button {
  appearance: none;
  font-size: inherit;
  font-family: inherit;
  white-space: nowrap;
}

kbd {
  text-transform: uppercase;
  font-family: system-ui;
  font-weight: bold;
}

.max-height-100vh {
  max-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, calc(100%/3));
}

.icon {
  width: 1em; /* 1 */
  height: 1em;
  vertical-align: -0.125em; /* 2 */
  /*fill: currentcolor;*/
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}
