*, *::before, *::after { box-sizing: inherit; }
.border-box { box-sizing: border-box; }
.content-box { box-sizing: content-box; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.nowrap { white-space: nowrap; }
.pre { white-space: pre; }
.normal { white-space: normal; }
.list-style-none { list-style: none; }
.overflow-scroll { overflow: scroll; }
.overflow-hidden { overflow: hidden; }
.overflow-auto { overflow: auto; }
.overflow-x-scroll { overflow-x: scroll; }
.overflow-x-auto { overflow-x: auto; }
.overflow-y-scroll { overflow-y: scroll; }
.overflow-y-auto { overflow-y: auto; }
.overflow-visible { overflow: visible; }
.right { float: right; }
.left { float: left; }
.border-solid {
  border-style: solid;
}
.border-x-solid {
  border-right-style: solid;
  border-left-style: solid;
}
.border-y-solid {
  border-top-style: solid;
  border-bottom-style: solid;
}
.border-top-solid { border-top-style: solid; }
.border-right-solid { border-right-style: solid; }
.border-bottom-solid { border-bottom-style: solid; }
.border-left-solid { border-left-style: solid; }
.grid { display: grid; }
.flex { display: flex; }
.inline-flex { display: inline-flex; }
.flex-auto { flex: auto; }
.flex-initial { flex: initial; }
.flex-none { flex: none; }
.row { flex-direction: row; }
.row-reverse { flex-direction: row-reverse; }
.column { flex-direction: column; }
.column-reverse { flex-direction: column-reverse; }
.wrap { flex-wrap: wrap; }
.wrap-reverse { flex-wrap: wrap-reverse; }
.justify-around { justify-content: space-around; }
.justify-between { justify-content: space-between; }
.justify-evenly { justify-content: space-evenly; }
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.items-stretch { align-items: stretch; }
.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.items-center { align-items: center; }
.items-baseline { align-items: baseline; }
.content-around { align-content: space-around; }
.content-between { align-content: space-between; }
.content-start { align-content: flex-start; }
.content-end { align-content: flex-end; }
.content-center { align-content: center; }
.content-stretch { align-content: stretch; }
.self-stretch { align-self: stretch; }
.self-start { align-self: flex-start; }
.self-end { align-self: flex-end; }
.self-center { align-self: center; }
.self-baseline { align-self: baseline; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.block { display: block; }
.none { display: none; }
.relative { position: relative; }
.absolute { position: absolute; }
.static { position: static; }
.fixed { position: fixed; }
.sticky { position: sticky; }
.top-0 { top: 0; }
.right-0 { right: 0; }
.bottom-0 { bottom: 0; }
.left-0 { left: 0; }
.align-center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.auto-flow-row { grid-auto-flow: row; }
.auto-flow-column { grid-auto-flow: column; }
.auto-flow-dense { grid-auto-flow: dense; }
.auto-flow-row-dense { grid-auto-flow: row dense; }
.auto-flow-column-dense { grid-auto-flow: column dense; }
.height-100vh { height: var(--height-100vh); }
.min-height-100vh { min-height: var(--height-100vh); }
.max-height-100vh { max-height: var(--height-100vh); }
.width-full { width: var(--width-full); }
.min-width-full { min-width: var(--width-full); }
.max-width-full { max-width: var(--width-full); }
.margin-0 {
  margin: var(--margin-0);
}
.margin-x-0 {
  margin-right: var(--margin-0);
  margin-left: var(--margin-0);
}
.margin-y-0 {
  margin-top: var(--margin-0);
  margin-bottom: var(--margin-0);
}
.margin-top-0 { margin-top: var(--margin-0); }
.margin-right-0 { margin-right: var(--margin-0); }
.margin-bottom-0 { margin-bottom: var(--margin-0); }
.margin-left-0 { margin-left: var(--margin-0); }
.margin-1 {
  margin: var(--margin-1);
}
.margin-x-1 {
  margin-right: var(--margin-1);
  margin-left: var(--margin-1);
}
.margin-y-1 {
  margin-top: var(--margin-1);
  margin-bottom: var(--margin-1);
}
.margin-top-1 { margin-top: var(--margin-1); }
.margin-right-1 { margin-right: var(--margin-1); }
.margin-bottom-1 { margin-bottom: var(--margin-1); }
.margin-left-1 { margin-left: var(--margin-1); }
.margin-2 {
  margin: var(--margin-2);
}
.margin-x-2 {
  margin-right: var(--margin-2);
  margin-left: var(--margin-2);
}
.margin-y-2 {
  margin-top: var(--margin-2);
  margin-bottom: var(--margin-2);
}
.margin-top-2 { margin-top: var(--margin-2); }
.margin-right-2 { margin-right: var(--margin-2); }
.margin-bottom-2 { margin-bottom: var(--margin-2); }
.margin-left-2 { margin-left: var(--margin-2); }
.margin-3 {
  margin: var(--margin-3);
}
.margin-x-3 {
  margin-right: var(--margin-3);
  margin-left: var(--margin-3);
}
.margin-y-3 {
  margin-top: var(--margin-3);
  margin-bottom: var(--margin-3);
}
.margin-top-3 { margin-top: var(--margin-3); }
.margin-right-3 { margin-right: var(--margin-3); }
.margin-bottom-3 { margin-bottom: var(--margin-3); }
.margin-left-3 { margin-left: var(--margin-3); }
.margin-x-auto {
  margin-right: auto;
  margin-left: auto;
}
.margin-right-auto { margin-right: auto; }
.margin-left-auto { margin-left: auto; }
.padding-0 {
  padding: var(--padding-0);
}
.padding-x-0 {
  padding-right: var(--padding-0);
  padding-left: var(--padding-0);
}
.padding-y-0 {
  padding-top: var(--padding-0);
  padding-bottom: var(--padding-0);
}
.padding-top-0 { padding-top: var(--padding-0); }
.padding-right-0 { padding-right: var(--padding-0); }
.padding-bottom-0 { padding-bottom: var(--padding-0); }
.padding-left-0 { padding-left: var(--padding-0); }
.padding-1 {
  padding: var(--padding-1);
}
.padding-x-1 {
  padding-right: var(--padding-1);
  padding-left: var(--padding-1);
}
.padding-y-1 {
  padding-top: var(--padding-1);
  padding-bottom: var(--padding-1);
}
.padding-top-1 { padding-top: var(--padding-1); }
.padding-right-1 { padding-right: var(--padding-1); }
.padding-bottom-1 { padding-bottom: var(--padding-1); }
.padding-left-1 { padding-left: var(--padding-1); }
.padding-2 {
  padding: var(--padding-2);
}
.padding-x-2 {
  padding-right: var(--padding-2);
  padding-left: var(--padding-2);
}
.padding-y-2 {
  padding-top: var(--padding-2);
  padding-bottom: var(--padding-2);
}
.padding-top-2 { padding-top: var(--padding-2); }
.padding-right-2 { padding-right: var(--padding-2); }
.padding-bottom-2 { padding-bottom: var(--padding-2); }
.padding-left-2 { padding-left: var(--padding-2); }
.padding-3 {
  padding: var(--padding-3);
}
.padding-x-3 {
  padding-right: var(--padding-3);
  padding-left: var(--padding-3);
}
.padding-y-3 {
  padding-top: var(--padding-3);
  padding-bottom: var(--padding-3);
}
.padding-top-3 { padding-top: var(--padding-3); }
.padding-right-3 { padding-right: var(--padding-3); }
.padding-bottom-3 { padding-bottom: var(--padding-3); }
.padding-left-3 { padding-left: var(--padding-3); }
.gap-0 { grid-gap: var(--gap-0); }
.row-gap-0 { grid-row-gap: var(--gap-0); }
.column-gap-0 { grid-column-gap: var(--gap-0); }
.gap-1 { grid-gap: var(--gap-1); }
.row-gap-1 { grid-row-gap: var(--gap-1); }
.column-gap-1 { grid-column-gap: var(--gap-1); }
.gap-2 { grid-gap: var(--gap-2); }
.row-gap-2 { grid-row-gap: var(--gap-2); }
.column-gap-2 { grid-column-gap: var(--gap-2); }
.gap-3 { grid-gap: var(--gap-3); }
.row-gap-3 { grid-row-gap: var(--gap-3); }
.column-gap-3 { grid-column-gap: var(--gap-3); }
.font-size-large { font-size: var(--font-size-large); }
.font-size-medium { font-size: var(--font-size-medium); }
.font-size-small { font-size: var(--font-size-small); }
.black,
.placeholder-black::placeholder,
.hover-black:hover,
.active-black:active,
.focus-black:focus {
  color: var(--black);
}
.background-black,
.hover-background-black:hover,
.active-background-black:active,
.focus-background-black:focus {
  background-color: var(--black);
}
.border-black {
  border-color: var(--black);
}
.border-x-black {
  border-right-color: var(--black);
  border-left-color: var(--black);
}
.border-y-black {
  border-top-color: var(--black);
  border-bottom-color: var(--black);
}
.border-top-black { border-top-color: var(--black); }
.border-right-black { border-right-color: var(--black); }
.border-bottom-black { border-bottom-color: var(--black); }
.border-left-black { border-left-color: var(--black); }
.dark-gray,
.placeholder-dark-gray::placeholder,
.hover-dark-gray:hover,
.active-dark-gray:active,
.focus-dark-gray:focus {
  color: var(--dark-gray);
}
.background-dark-gray,
.hover-background-dark-gray:hover,
.active-background-dark-gray:active,
.focus-background-dark-gray:focus {
  background-color: var(--dark-gray);
}
.border-dark-gray {
  border-color: var(--dark-gray);
}
.border-x-dark-gray {
  border-right-color: var(--dark-gray);
  border-left-color: var(--dark-gray);
}
.border-y-dark-gray {
  border-top-color: var(--dark-gray);
  border-bottom-color: var(--dark-gray);
}
.border-top-dark-gray { border-top-color: var(--dark-gray); }
.border-right-dark-gray { border-right-color: var(--dark-gray); }
.border-bottom-dark-gray { border-bottom-color: var(--dark-gray); }
.border-left-dark-gray { border-left-color: var(--dark-gray); }
.light-gray,
.placeholder-light-gray::placeholder,
.hover-light-gray:hover,
.active-light-gray:active,
.focus-light-gray:focus {
  color: var(--light-gray);
}
.background-light-gray,
.hover-background-light-gray:hover,
.active-background-light-gray:active,
.focus-background-light-gray:focus {
  background-color: var(--light-gray);
}
.border-light-gray {
  border-color: var(--light-gray);
}
.border-x-light-gray {
  border-right-color: var(--light-gray);
  border-left-color: var(--light-gray);
}
.border-y-light-gray {
  border-top-color: var(--light-gray);
  border-bottom-color: var(--light-gray);
}
.border-top-light-gray { border-top-color: var(--light-gray); }
.border-right-light-gray { border-right-color: var(--light-gray); }
.border-bottom-light-gray { border-bottom-color: var(--light-gray); }
.border-left-light-gray { border-left-color: var(--light-gray); }
.white,
.placeholder-white::placeholder,
.hover-white:hover,
.active-white:active,
.focus-white:focus {
  color: var(--white);
}
.background-white,
.hover-background-white:hover,
.active-background-white:active,
.focus-background-white:focus {
  background-color: var(--white);
}
.border-white {
  border-color: var(--white);
}
.border-x-white {
  border-right-color: var(--white);
  border-left-color: var(--white);
}
.border-y-white {
  border-top-color: var(--white);
  border-bottom-color: var(--white);
}
.border-top-white { border-top-color: var(--white); }
.border-right-white { border-right-color: var(--white); }
.border-bottom-white { border-bottom-color: var(--white); }
.border-left-white { border-left-color: var(--white); }
.blue,
.placeholder-blue::placeholder,
.hover-blue:hover,
.active-blue:active,
.focus-blue:focus {
  color: var(--blue);
}
.background-blue,
.hover-background-blue:hover,
.active-background-blue:active,
.focus-background-blue:focus {
  background-color: var(--blue);
}
.border-blue {
  border-color: var(--blue);
}
.border-x-blue {
  border-right-color: var(--blue);
  border-left-color: var(--blue);
}
.border-y-blue {
  border-top-color: var(--blue);
  border-bottom-color: var(--blue);
}
.border-top-blue { border-top-color: var(--blue); }
.border-right-blue { border-right-color: var(--blue); }
.border-bottom-blue { border-bottom-color: var(--blue); }
.border-left-blue { border-left-color: var(--blue); }
.border-1 {
  border-width: var(--border-width-1);
}
.border-x-1 {
  border-right-width: var(--border-width-1);
  border-left-width: var(--border-width-1);
}
.border-y-1 {
  border-top-width: var(--border-width-1);
  border-bottom-width: var(--border-width-1);
}
.border-top-1 { border-top-width: var(--border-width-1); }
.border-right-1 { border-right-width: var(--border-width-1); }
.border-bottom-1 { border-bottom-width: var(--border-width-1); }
.border-left-1 { border-left-width: var(--border-width-1); }
.border-2 {
  border-width: var(--border-width-2);
}
.border-x-2 {
  border-right-width: var(--border-width-2);
  border-left-width: var(--border-width-2);
}
.border-y-2 {
  border-top-width: var(--border-width-2);
  border-bottom-width: var(--border-width-2);
}
.border-top-2 { border-top-width: var(--border-width-2); }
.border-right-2 { border-right-width: var(--border-width-2); }
.border-bottom-2 { border-bottom-width: var(--border-width-2); }
.border-left-2 { border-left-width: var(--border-width-2); }
.border-3 {
  border-width: var(--border-width-3);
}
.border-x-3 {
  border-right-width: var(--border-width-3);
  border-left-width: var(--border-width-3);
}
.border-y-3 {
  border-top-width: var(--border-width-3);
  border-bottom-width: var(--border-width-3);
}
.border-top-3 { border-top-width: var(--border-width-3); }
.border-right-3 { border-right-width: var(--border-width-3); }
.border-bottom-3 { border-bottom-width: var(--border-width-3); }
.border-left-3 { border-left-width: var(--border-width-3); }
.border-0 {
  border-width: var(--border-width-0);
}
.border-x-0 {
  border-right-width: var(--border-width-0);
  border-left-width: var(--border-width-0);
}
.border-y-0 {
  border-top-width: var(--border-width-0);
  border-bottom-width: var(--border-width-0);
}
.border-top-0 { border-top-width: var(--border-width-0); }
.border-right-0 { border-right-width: var(--border-width-0); }
.border-bottom-0 { border-bottom-width: var(--border-width-0); }
.border-left-0 { border-left-width: var(--border-width-0); }
.border-radius {
  border-radius: var(--border-radius);
}
.border-left-radius {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.border-right-radius {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.border-top-radius {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.border-bottom-radius {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.border-top-left-radius {
  border-top-left-radius: var(--border-radius);
}
.border-top-right-radius {
  border-top-right-radius: var(--border-radius);
}
.border-bottom-left-radius {
  border-bottom-left-radius: var(--border-radius);
}
.border-bottom-right-radius {
  border-bottom-right-radius: var(--border-radius);
}
