:root {
  --whitespace-1: 0.5rem;
  --whitespace-2: 1rem;
  --whitespace-3: 2rem;
  --whitespace-4: 4rem;

  --width-1: calc(100% / 3);
  --width-2: calc(100% / 3 * 2);

  --font-size-large: 1.25rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.75rem;

  --border-width: 3px;
  --border-width-large: 5px;
  --border-radius: 3px;
  --border-radius-round: 100%;

  --black: hsl(0, 0%, 10%);
  --dark-gray: hsl(0, 0%, 32%);
  --gray: hsl(0, 0%, 54%);
  --light-gray: hsl(0, 0%, 76%);
  --white: hsl(0, 0%, 98%);
  --red: hsl(344, 80%, 75%);
  --yellow: hsl(56, 80%, 75%);
  --green: hsl(128, 80%, 75%);
  --blue: hsl(200, 80%, 75%);
  --purple: hsl(272, 80%, 75%);
}
