:root {
  --margin-0: 0;
  --margin-1: 0.5rem;
  --margin-2: 1rem;
  --margin-3: 2rem;

  --padding-0: 0;
  --padding-1: 0.5rem;
  --padding-2: 1rem;
  --padding-3: 2rem;

  --gap-0: 0;
  --gap-1: 0.5rem;
  --gap-2: 1rem;
  --gap-3: 2rem;

  --font-size-large: 1.25rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.75rem;

  --height-100vh: 100vh;
  --width-full: 100%;

  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-3: 3px;
  --border-width-0: 0;
  --border-radius: 2px;

  --black: gray(5);
  --dark-gray: gray(35);
  --light-gray: gray(65);
  --white: gray(95);
  --blue: hsl(200, 90%, 65%);
}
