@import './utilities.css';

html {
  height: 100%;
  word-wrap: break-word;
}

body {
  height: 100%;
  margin: 0;
  font-family: system-ui;
}

input {
  font-size: inherit;
  font-family: inherit;
}

button {
  appearance: none;
  font-size: inherit;
  font-family: inherit;
  white-space: nowrap;
}

.max-height-100vh {
  max-height: 100vh;
}
