@custom-media --breakpoint-mobile (width < 40rem);
@custom-media --breakpoint-desktop (width >= 40rem);

:root {
  --whitespace-1: 0.5rem;
  --whitespace-2: 1rem;
  --whitespace-3: 2rem;
  --whitespace-4: 4rem;

  --width-1: calc(100% / 6);
  --width-2: calc(100% / 6 * 2);
  --width-3: calc(100% / 6 * 3);
  --width-4: calc(100% / 6 * 4);
  --width-5: calc(100% / 6 * 5);

  --typesize-xxx-large: 2rem;
  --typesize-xx-large: 1.5rem;
  --typesize-x-large: 1.25rem;
  --typesize-large: 1.125rem;
  --typesize-medium: 1rem;
  --typesize-small: 0.875rem;

  --black: hsl(0, 0%, 12.5%);
  --dark-gray: hsl(0, 0%, 25%);
  --gray: hsl(0, 0%, 50%);
  --light-gray: hsl(0, 0%, 75%);
  --white: hsl(0, 0%, 87.5%);
  --red: hsl(350, 60%, 60%);
  --yellow: hsl(62, 60%, 60%);
  --green: hsl(134, 50%, 60%);
  --blue: hsl(206, 60%, 60%);
  --purple: hsl(278, 60%, 60%);
}
